<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" monitorInterval="30">
    <properties>
        <property name="PATTERN">%d-[%p]-[%l] %m%n</property>
        <Property name="logdir">${sys:user.home}/logs/errors</Property>
    </properties>
    <appenders>
        <console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}"/>
        </console>

        <RollingFile name="log_appender" fileName="${logdir}/c.log" filePattern="${logdir}/c-%d{yyyy-MM-dd}.log">
            <ThresholdFilter level="ERROR"/>
            <PatternLayout pattern="${PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
            </Policies>
            <CronTriggeringPolicy schedule="0 0 0 * * ?"/>
            <DefaultRolloverStrategy>
                <Delete basePath="${logdir}" maxDepth="1">
                    <IfFileName glob="c-*.log" />
                    <IfLastModified age="15d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>

    </appenders>
    <loggers>
        <logger name="org.springframework" level="INFO"></logger>
        <logger name="org.mybatis" level="INFO"></logger>
        <root level="info">
            <appender-ref ref="console"/>
            <appender-ref ref="log_appender"/>
        </root>
    </loggers>
</configuration>